<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anji.allways.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.anji.allways.entity.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="src_name" jdbcType="VARCHAR" property="srcName" />
    <result column="src_phone_number" jdbcType="VARCHAR" property="srcPhoneNumber" />
    <result column="src_address" jdbcType="VARCHAR" property="srcAddress" />
    <result column="src_detail_address" jdbcType="VARCHAR" property="srcDetailAddress" />
    <result column="dest_name" jdbcType="VARCHAR" property="destName" />
    <result column="dest_phone_number" jdbcType="VARCHAR" property="destPhoneNumber" />
    <result column="dest_address" jdbcType="VARCHAR" property="destAddress" />
    <result column="dest_detail_address" jdbcType="VARCHAR" property="destDetailAddress" />
    <result column="customer_brand" jdbcType="VARCHAR" property="customerBrand" />
    <result column="dealer_id" jdbcType="BIGINT" property="dealerId" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="shipping_type" jdbcType="TINYINT" property="shippingType" />
    <result column="expected_price" jdbcType="DECIMAL" property="expectedPrice" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="last_update_user" jdbcType="VARCHAR" property="lastUpdateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, number, status, src_name, src_phone_number, src_address, src_detail_address, 
    dest_name, dest_phone_number, dest_address, dest_detail_address, customer_brand, 
    dealer_id, order_type, shipping_type, expected_price, actual_price, remark, create_time, 
    create_user, last_update_time, last_update_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.anji.allways.entity.Order">
    insert into order (id, number, status, 
      src_name, src_phone_number, src_address, 
      src_detail_address, dest_name, dest_phone_number, 
      dest_address, dest_detail_address, customer_brand, 
      dealer_id, order_type, shipping_type, 
      expected_price, actual_price, remark, 
      create_time, create_user, last_update_time, 
      last_update_user)
    values (#{id,jdbcType=BIGINT}, #{number,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{srcName,jdbcType=VARCHAR}, #{srcPhoneNumber,jdbcType=VARCHAR}, #{srcAddress,jdbcType=VARCHAR}, 
      #{srcDetailAddress,jdbcType=VARCHAR}, #{destName,jdbcType=VARCHAR}, #{destPhoneNumber,jdbcType=VARCHAR}, 
      #{destAddress,jdbcType=VARCHAR}, #{destDetailAddress,jdbcType=VARCHAR}, #{customerBrand,jdbcType=VARCHAR}, 
      #{dealerId,jdbcType=BIGINT}, #{orderType,jdbcType=TINYINT}, #{shippingType,jdbcType=TINYINT}, 
      #{expectedPrice,jdbcType=DECIMAL}, #{actualPrice,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.anji.allways.entity.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="srcName != null">
        src_name,
      </if>
      <if test="srcPhoneNumber != null">
        src_phone_number,
      </if>
      <if test="srcAddress != null">
        src_address,
      </if>
      <if test="srcDetailAddress != null">
        src_detail_address,
      </if>
      <if test="destName != null">
        dest_name,
      </if>
      <if test="destPhoneNumber != null">
        dest_phone_number,
      </if>
      <if test="destAddress != null">
        dest_address,
      </if>
      <if test="destDetailAddress != null">
        dest_detail_address,
      </if>
      <if test="customerBrand != null">
        customer_brand,
      </if>
      <if test="dealerId != null">
        dealer_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="shippingType != null">
        shipping_type,
      </if>
      <if test="expectedPrice != null">
        expected_price,
      </if>
      <if test="actualPrice != null">
        actual_price,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="lastUpdateUser != null">
        last_update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="srcName != null">
        #{srcName,jdbcType=VARCHAR},
      </if>
      <if test="srcPhoneNumber != null">
        #{srcPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="srcAddress != null">
        #{srcAddress,jdbcType=VARCHAR},
      </if>
      <if test="srcDetailAddress != null">
        #{srcDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="destName != null">
        #{destName,jdbcType=VARCHAR},
      </if>
      <if test="destPhoneNumber != null">
        #{destPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="destAddress != null">
        #{destAddress,jdbcType=VARCHAR},
      </if>
      <if test="destDetailAddress != null">
        #{destDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="customerBrand != null">
        #{customerBrand,jdbcType=VARCHAR},
      </if>
      <if test="dealerId != null">
        #{dealerId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="shippingType != null">
        #{shippingType,jdbcType=TINYINT},
      </if>
      <if test="expectedPrice != null">
        #{expectedPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null">
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anji.allways.entity.Order">
    update order
    <set>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="srcName != null">
        src_name = #{srcName,jdbcType=VARCHAR},
      </if>
      <if test="srcPhoneNumber != null">
        src_phone_number = #{srcPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="srcAddress != null">
        src_address = #{srcAddress,jdbcType=VARCHAR},
      </if>
      <if test="srcDetailAddress != null">
        src_detail_address = #{srcDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="destName != null">
        dest_name = #{destName,jdbcType=VARCHAR},
      </if>
      <if test="destPhoneNumber != null">
        dest_phone_number = #{destPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="destAddress != null">
        dest_address = #{destAddress,jdbcType=VARCHAR},
      </if>
      <if test="destDetailAddress != null">
        dest_detail_address = #{destDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="customerBrand != null">
        customer_brand = #{customerBrand,jdbcType=VARCHAR},
      </if>
      <if test="dealerId != null">
        dealer_id = #{dealerId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=TINYINT},
      </if>
      <if test="shippingType != null">
        shipping_type = #{shippingType,jdbcType=TINYINT},
      </if>
      <if test="expectedPrice != null">
        expected_price = #{expectedPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        actual_price = #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null">
        last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anji.allways.entity.Order">
    update order
    set number = #{number,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      src_name = #{srcName,jdbcType=VARCHAR},
      src_phone_number = #{srcPhoneNumber,jdbcType=VARCHAR},
      src_address = #{srcAddress,jdbcType=VARCHAR},
      src_detail_address = #{srcDetailAddress,jdbcType=VARCHAR},
      dest_name = #{destName,jdbcType=VARCHAR},
      dest_phone_number = #{destPhoneNumber,jdbcType=VARCHAR},
      dest_address = #{destAddress,jdbcType=VARCHAR},
      dest_detail_address = #{destDetailAddress,jdbcType=VARCHAR},
      customer_brand = #{customerBrand,jdbcType=VARCHAR},
      dealer_id = #{dealerId,jdbcType=BIGINT},
      order_type = #{orderType,jdbcType=TINYINT},
      shipping_type = #{shippingType,jdbcType=TINYINT},
      expected_price = #{expectedPrice,jdbcType=DECIMAL},
      actual_price = #{actualPrice,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_user = #{lastUpdateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>