<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anji.allways.dao.TruckMapper">
  <resultMap id="BaseResultMap" type="com.anji.allways.entity.Truck">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="driving_permit" jdbcType="VARCHAR" property="drivingPermit" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="last_update_use" jdbcType="VARCHAR" property="lastUpdateUse" />
  </resultMap>
  <sql id="Base_Column_List">
    id, supplier_id, type, number, driving_permit, status, remark, create_time, create_user, 
    last_update_time, last_update_use
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from truck
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from truck
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.anji.allways.entity.Truck">
    insert into truck (id, supplier_id, type, 
      number, driving_permit, status, 
      remark, create_time, create_user, 
      last_update_time, last_update_use)
    values (#{id,jdbcType=BIGINT}, #{supplierId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{drivingPermit,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{lastUpdateUse,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.anji.allways.entity.Truck">
    insert into truck
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="drivingPermit != null">
        driving_permit,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="lastUpdateUse != null">
        last_update_use,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="drivingPermit != null">
        #{drivingPermit,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUse != null">
        #{lastUpdateUse,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anji.allways.entity.Truck">
    update truck
    <set>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="drivingPermit != null">
        driving_permit = #{drivingPermit,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUse != null">
        last_update_use = #{lastUpdateUse,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anji.allways.entity.Truck">
    update truck
    set supplier_id = #{supplierId,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      driving_permit = #{drivingPermit,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_use = #{lastUpdateUse,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>